{{ include('components/form/header.html.twig', {params: {target: '/plugins/tender/front/invoice.form.php'}}) }}
{% import 'components/form/fields_macros.html.twig' as fields %}
   <div class="card-body d-flex flex-wrap">
      <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
         <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
               <div class="row flex-row">
               <div><a href="/plugins/tender/front/tender.form.php?id={{item.fields['plugin_tender_tenders_id']}}&glpi_tab=GlpiPlugin\Tender\Invoice">{{__('Back')}}</a></div>

                     {{ fields.textField(
                        'name',
                        invoice.name,
                        __('Invoice Reference', "tender"),
                     ) }}

                     {{ fields.textField(
                        'internal_reference',
                        '',
                        __('Internal Reference', "tender"),
                     ) }}

                     {{ fields.dateField(
                           'invoice_date',
                           invoice.invoice_date,
                           __('Invoice Date', "tender"),
                           {
                              'required': true
                           }
                     ) }}

                     {{ fields.textField(
                        'posting_text',
                        invoice.posting_text,
                        __('Posting Text', "tender"),
                     ) }}

                     {{ fields.dateField(
                           'due_date',
                           invoice.due_date,
                           __('Due Date', "tender"),
                           {
                              'required': true
                           }
                     ) }}

                     {{ fields.textField(
                        'total_gross',
                        invoice.total_gross_string,
                        __('Total', "tender"),
                        {
                           'disabled': true
                        }
                     ) }}

                     {{ fields.hiddenField(
                           'plugin_tender_tenders_id',
                           invoice.plugin_tender_tenders_id
                     ) }}                   
                     {{ fields.hiddenField(
                           'id',
                           invoice.id
                     ) }}         

               <div>
                  <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
               {% if invoice.id %}
                  <button class="btn btn-primary me-2" type="submit" name="update" value="1">
                     <i class="fas fa-save"></i>
                     <span>{{ _x('button', 'Save') }}</span>
                  </button>
                  <button class="btn btn-outline-warning me-2" type="submit" name="delete" value="1">
                     <i class="fas fa-trash"></i>
                     <span>{{ _x('button', 'Delete permanently') }}</span>
                  </button>
                  <a href="/plugins/tender/ajax/makeDocument.php?itemtype=invoice&id={{invoice.id}}" class="btn btn-secondary me-2">Download Kontierung</a>
               {% endif %}
               </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
      <hr />
      {{ include('@tender/components/table.html.twig') }}
   </div>
</div>

<script>
   $(document).on('click', '#btn_download', function(e) {

         $.ajax({
               method: 'POST',
               url: CFG_GLPI.root_doc + "/plugins/tender/ajax/accountingDocument.php",
               data: {
                     action: 'get_catalogueitem_add_form',
                     itemtypes: JSON.parse('{{ itemtypes | json_encode | raw }}'),
                     catalogueitems: JSON.parse('{{ catalogueitems | json_encode | raw }}'),
                     item: JSON.parse('{{ item.fields | json_encode | raw }}'),
                     financials: JSON.parse('{{ financials | json_encode | raw }}'),
               }
            }).done(function(html_data) {
               console.log(html_data);
               window.location = html_data;
            });
      });
</script>