{{ include('components/form/header.html.twig', {params: {target: '/plugins/tender/front/invoice.form.php'}}) }}
{% import 'components/form/fields_macros.html.twig' as fields %}
   <div class="card-body d-flex flex-wrap">
      <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
         <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
               <div class="row flex-row">

                     {{ fields.textField(
                        'name',
                        '',
                        __('Invoice Reference', "tender"),
                     ) }}

                     {{ fields.textField(
                        'internal_reference',
                        '',
                        __('Internal Reference', "tender"),
                     ) }}

                     {{ fields.dateField(
                           'invoice_date',
                           '',
                           __('Invoice Date', "tender"),
                           {
                              'required': true
                           }
                     ) }}

                     {{ fields.dateField(
                           'due_date',
                           invoice.due_date,
                           __('Due Date', "tender"),
                           {
                              'required': true
                           }
                     ) }}

                     {{ fields.textField(
                        'posting_text',
                        '',
                        __('Posting Text', "tender"),
                     ) }}

                     {{ fields.textField(
                        'posting_text_suggest',
                        '',
                        __('Posting Text Suggest', "tender"),
                     ) }}

                     {{ fields.hiddenField(
                           'tenders_id',
                           tenders_id
                     ) }}
            <div class="table-responsive" {% if showmassiveactions %} id="{{ massiveactionparams['container'] }}" {% endif %}>
               <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>{{__('Name')}}</th>
                           <th>{{__('Description')}}</th>
                           <th>{{__('Delivered quantity', "tender")}}</th>
                           <th>{{__('Already invoiced', "tender")}}</th>
                           <th>{{__('Invoice Quantity', "tender")}}</th>
                           <th>{{__('Net Price', "tender")}}</th>
                           <th>{{__('Net Total Price', "tender")}}</th>
                           <th>{{__('Tax', "tender")}}</th>
                           <th>{{__('Gross Price', "tender")}}</th>
                           <th>{{__('Delivery Location', "tender")}}</th>
                           <th>{{__('Distribution', "tender")}}</th>
                           <th>{{__('Financial', "tender")}}</th>
                           <th>{{__('Reference', "tender")}}</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for item in tenderitems %}
                        {% if item.delivered_quantity is empty %}
                           {% set delivered_quantity = 0 %}
                        {% else %}
                           {% set delivered_quantity = item.delivered_quantity %}
                        {% endif %}
                        {% set pending_quantity = delivered_quantity - item.invoiced_quantity %}
                        <tr>
                           <td>
                                 {{ item.name }}
                           </td>
                           <td>
                                 <span class="d-inline-block text-truncate"
                                    style="max-width: 250px;">
                                    {{ item['description']|raw }}
                                 </span>
                           </td>
                           <td>
                              {{ delivered_quantity }} / {{ item.quantity }}
                           </td>
                           <td>
                              {{ item.invoiced_quantity }}
                           </td>
                           <td class="item_quantity">
                              {% if pending_quantity > 0 %}
                                 {{ fields.numberField(
                                    'item[' ~ loop.index ~ '][quantity]',
                                    pending_quantity,
                                    '',
                                    {
                                       'no_label': true,
                                       'max': pending_quantity,
                                       'min': 0
                                    }
                                 ) }}
                              {% else %}
                              {{ pending_quantity }}
                              {% endif %}
                           </td>
                           <td class="net_price">
                              {{ item.net_price|number_format(2, ',', '.') }}
                           </td>
                           <td class="net_total">
                              {{ (item.net_price * pending_quantity)|number_format(2, ',', '.') }}
                           </td>
                           <td class="tax">
                              {{ item.tax }}
                           </td>
                           <td class="gross_total">
                           {% if item.tax == 0 %} 
                              {{ item.net_price * pending_quantity }}
                           {% else %}
                              {{ (item.net_price * pending_quantity * (1 + (item.tax / 100)))|number_format(2, ',', '.') }}
                           {% endif %}
                           </td>
                           <td>
                              {{ item.delivery_location_name }}
                           </td>
                           <td>
                              {{ item.location_name }}
                           </td>
                           <td>
                              {{ item.financial }}
                           </td>
                           <td>
                              {{ item.reference }}
                           </td>
                                 {{ fields.hiddenField(
                                       'item[' ~ loop.index ~ '][plugin_tender_distributions_id]',
                                       item.plugin_tender_distributions_id
                                 ) }}
                        </tr>
                        {% endfor %}
                     </tbody>
               </table>
            </div>                     
            </div>
               <div>
                  <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                  <button class="btn btn-primary me-2" type="submit" name="add" value="1">
                     <i class="fas fa-plus"></i>
                     <span>{{ _x('button', 'Add') }}</span>
                  </button>
               </div>
         </div>
      </div>
   </div>
   <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
      <hr />
      {{ include('@tender/components/table.html.twig') }}
   </div>
</div>
<script>
var tender = JSON.parse('{{ tender|json_encode|raw }}');
   console.log(tender);
$(document).ready(function() {

   var postingTextSuggest = "";
   $(document).on('change', '.item_quantity input', function(e) {
      var net_price = this.closest('.item_quantity').parentElement.querySelector('.net_price');
      var net_total = this.closest('.item_quantity').parentElement.querySelector('.net_total');
      var tax = this.closest('.item_quantity').parentElement.querySelector('.tax');
      var gross_total = this.closest('.item_quantity').parentElement.querySelector('.gross_total');

      var tax = tax.textContent > 0 ? (1 + (parseFloat(tax.textContent) / 100)) : 1;
      //var gross_total = net_total * (1 + (tax / 100));
      net_total.textContent = (parseFloat(net_price.textContent) * parseFloat(this.value)).toFixed(2).replace(".", ",").replace(/(\d)(?=(\d{3})+(?:\,\d+)?$)/g, "$1.");
      gross_total.textContent = (parseFloat(net_price.textContent) * parseFloat(this.value) * parseFloat(tax)).toFixed(2).replace(".", ",").replace(/(\d)(?=(\d{3})+(?:\,\d+)?$)/g, "$1.");
   });
   $(document).on('change', "input[name='name']", function(e) {
      postingTextSuggest = 'RG-Nr: ' + $(this).val() + ', ' + tender["name"] + ';' + tender["tender_subject"];
      console.log(postingTextSuggest)
      $("input[name='posting_text_suggest']").val(postingTextSuggest);
      
   });
});
</script>