{% import 'components/form/fields_macros.html.twig' as fields %}

<div class="card-body d-flex flex-wrap">
    <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
    {{ include('components/form/header.html.twig', {params: {target: '/plugins/tender/front/offer.form.php'}}) }}
        <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
                <div class="row flex-row">
                <div><a href="/plugins/tender/front/tender.form.php?id={{offer.plugin_tender_tenders_id}}&_glpi_tab=GlpiPlugin\Tender\Offer">{{__('Back')}}</a></div>
                    {{ fields.dropdownField(
                        'Supplier',
                        'suppliers_id',
                        offer.suppliers_id,
                        __('Supplier'),
                        {
                            'disabled': true
                        }
                    ) }}

                    {{ fields.dateField(
                        'offer_date',
                        offer.offer_date,
                        __('Offerdate', 'tender'),
                        {
                            'required': true
                        }
                    ) }}

                    {{ fields.hiddenField(
                        'tenders_id',
                        offer.plugin_tender_tenders_id
                    ) }}

                    {{ fields.hiddenField(
                        'id',
                        offer.id
                    ) }}

                    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />

                    <div>
                        <button class="btn btn-primary me-2" type="submit" name="update" value="1">
                            <i class="fas fa-save"></i>
                            <span>{{ _x('button', 'Save') }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <hr />
    <div class="col-12 col-xxl-{{ item_has_pictures ? '9' : '12' }} flex-column">
    {{ include('components/form/header.html.twig', {params: {target: '/plugins/tender/front/offeritem.form.php'}}) }}
    <div class="table-responsive" {% if showmassiveactions %} id="{{ massiveactionparams['container'] }}" {% endif %}>
        <table class="table table-hover table-input-tender">
            <thead>
                <tr>
                    <th>{{__('Position', 'tender')}}</th>
                    <th>{{__('Name', 'tender')}}</th>
                    <th>{{__('Quantity', 'tender')}}</th>
                    <th>{{__('Net Price', 'tender')}}</th>
                    <th>{{__('net total', 'tender')}}</th>
                    <th>{{__('tax rate', 'tender')}}</th>
                    <th>{{__('Total Tax', 'tender')}}</th>
                    <th>{{__('gross total', 'tender')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in offerItems %}
                  <tr>
                     <td>
                        {{ loop.index }}
                     </td>
                     <td>
                        {{ item.name }}
                     </td>
                     <td>
                        {{ item.quantity }}
                     </td>
                     <td>
                        {{ fields.numberField(
                           'item[' ~ loop.index ~ '][net_price]',
                           item.net_price / 100,
                           __('Net Price', 'tender'),
                           {
                              'no_label': true,
                              'step' : ".01"
                           }
                        ) }}
                     </td>
                     <td class="text-end">
                        {{ item.total_net }}
                     </td>
                     <td>
                        {{ fields.numberField(
                           'item[' ~ loop.index ~ '][tax]',
                           item.tax,
                           __('Tax', 'tender'),
                           {
                              'no_label': true,
                           }
                        ) }}
                        {{ fields.hiddenField(
                              'item[' ~ loop.index ~ '][id]',
                              item.id
                        ) }}
                     </td>
                     <td class="text-end">
                        {{ item.total_tax }}
                     </td>
                     <td class="text-end">
                        {{ item.total_gross }}
                     </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-field row align-items-center col-12 mb-2"></div>
    <div>
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
        <button class="btn btn-primary me-2" type="submit" name="update_items" value="1">
            <i class="fas fa-save"></i>
            <span>{{ _x('button', 'Save') }}</span>
        </button>
    </div>
    </div>
</div>
<style>
.table-input-tender td {
  position: relative;
}

.table-input-tender td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
}
</style>